.place__title{
    max-width: 100%;
    font-size: 4.5em;
    line-height: 106%;
    font-weight: 900;
    margin: 0;
    align-self: end;
    justify-self: start;
}


@media screen and (max-width: 768px) {
    .place__title{
        font-size: 2.625em;
        line-height: 110%;
    }
}


@media screen and (max-width: 700px) {
    .place__title{
        font-size: 2em;
        margin-bottom: 32px;
        margin-left: 5%;
        margin-right: 5%;
    }
 }
