.place__title{
    max-width: 100%;
    font-size: 4.5em;
    line-height: 106%;
    font-weight: 900;
    margin: 0;
    align-self: start;
    justify-self: start;
}


@media screen and (max-width: 800px) {
    .place__title{
        font-size: 2.625em;
        line-height: 110%;
        margin-left: 3%;
        margin-right: 3%;

    }
}


@media screen and (max-width: 440px) {
    .place__title{
        font-size: 2em;
        line-height: 109%;
        margin-left: 5%;
        margin-right: 5%;

    }
 }
