.lead__caption{
max-width: 984px;
font-size: 0.62em;
line-height: 0.9;
letter-spacing: 0.15em;
text-transform: uppercase;
margin: 8px auto 0;
text-align: left;
}



@media screen and (max-width: 1024px) {
    .lead__caption{
       margin-left: 4.6%;
       margin-right: 4.6%;
          }
 }
 
 @media screen and (max-width: 760px) {
    .lead__caption{
       margin-left: 5%;
       margin-right: 5%;
      }
 }