@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__text/place__text.css);

.place{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 460px minmax(200px,490px);;
    grid-template-rows: auto;
    justify-content: start;
    margin-bottom: 80px;
}

@media screen and (max-width: 1020px) {
     .place{
        grid-template-columns: 440px minmax(200px,440px);
        grid-template-rows: auto;
        grid-gap: 28px;
        margin-bottom: 72px;
        margin-left: 3%;
        
    }           
}
 
  @media screen and (max-width: 760px) {
    .place{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 48px;
        margin-left: 0;
     }
    .place__paragraph{
        margin-left: 5%;
        margin-right: 5%;
    }

    .place__title{
        font-size: 2em;
        height: 0;
        margin-bottom: 32px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .place__website{
        display: none;
    }


 }
